// @material-icons-variables
$material--d_rotation: \e9fd;
$material--4k: \e9fe;
$material--360: \e9ff;
$material--zoom_in: \ea53;
$material--zoom_out: \ea54;
$material--zoom_out_map: \ea55;
$material--youtube_searched_for: \ea56;
$material--wallpaper: \ea57;
$material--warning: \ea58;
$material--watch: \ea59;
$material--watch_later: \ea5a;
$material--waves: \ea5b;
$material--wb_auto: \ea5c;
$material--wb_cloudy: \ea5d;
$material--wb_incandescent: \ea5e;
$material--wb_iridescent: \ea5f;
$material--wb_sunny: \ea60;
$material--wc: \ea61;
$material--web: \ea62;
$material--web_asset: \ea63;
$material--weekend: \ea64;
$material--whatshot: \ea65;
$material--where_to_vote: \ea66;
$material--widgets: \ea67;
$material--wifi: \ea68;
$material--wifi_lock: \ea69;
$material--wifi_off: \ea6a;
$material--wifi_tethering: \ea6b;
$material--work: \ea6c;
$material--work_off: \ea6d;
$material--work_outline: \ea6e;
$material--wrap_text: \ea6f;
$material--verified_user: \ea70;
$material--vertical_align_bottom: \ea71;
$material--vertical_align_center: \ea72;
$material--vertical_align_top: \ea73;
$material--vertical_split: \ea74;
$material--vibration: \ea75;
$material--video_call: \ea76;
$material--videocam: \ea77;
$material--videocam_off: \ea78;
$material--videogame_asset: \ea79;
$material--video_label: \ea7a;
$material--video_library: \ea7b;
$material--view_agenda: \ea7c;
$material--view_array: \ea7d;
$material--view_carousel: \ea7e;
$material--view_column: \ea7f;
$material--view_comfy: \ea80;
$material--view_compact: \ea81;
$material--view_day: \ea82;
$material--view_headline: \ea83;
$material--view_list: \ea84;
$material--view_module: \ea85;
$material--view_quilt: \ea86;
$material--view_stream: \ea87;
$material--view_week: \ea88;
$material--vignette: \ea89;
$material--visibility: \ea8a;
$material--visibility_off: \ea8b;
$material--voice_chat: \ea8c;
$material--voicemail: \ea8d;
$material--voice_over_off: \ea8e;
$material--volume_down: \ea8f;
$material--volume_mute: \ea90;
$material--volume_off: \ea91;
$material--volume_up: \ea92;
$material--vpn_key: \ea93;
$material--vpn_lock: \ea94;
$material--unarchive: \ea95;
$material--undo: \ea96;
$material--unfold_less: \ea97;
$material--unfold_more: \ea98;
$material--unsubscribe: \ea99;
$material--update: \ea9a;
$material--usb: \ea9b;
$material--tab: \ea9c;
$material--table_chart: \ea9d;
$material--tablet: \ea9e;
$material--tablet_android: \ea9f;
$material--tablet_mac: \eaa0;
$material--tab_unselected: \eaa1;
$material--tag_faces: \eaa2;
$material--tap_and_play: \eaa3;
$material--terrain: \eaa4;
$material--text_fields: \eaa5;
$material--text_format: \eaa6;
$material--text_rotate_up: \eaa7;
$material--text_rotate_vertical: \eaa8;
$material--text_rotation_down: \eaa9;
$material--text_rotation_none: \eaaa;
$material--textsms: \eaab;
$material--texture: \eaac;
$material--theaters: \eaad;
$material--thumb_down: \eaae;
$material--thumb_down_alt: \eaaf;
$material--thumbs_up_down: \eab0;
$material--thumb_up: \eab1;
$material--thumb_up_alt: \eab2;
$material--timelapse: \eab3;
$material--timeline: \eab4;
$material--timer: \eab5;
$material--timer_3: \eab6;
$material--timer_10: \eab7;
$material--timer_off: \eab8;
$material--time_to_leave: \eab9;
$material--title: \eaba;
$material--toc: \eabb;
$material--today: \eabc;
$material--toggle_off: \eabd;
$material--toggle_on: \eabe;
$material--toll: \eabf;
$material--tonality: \eac0;
$material--touch_app: \eac1;
$material--toys: \eac2;
$material--track_changes: \eac3;
$material--traffic: \eac4;
$material--train: \eac5;
$material--tram: \eac6;
$material--transfer_within_a_station: \eac7;
$material--transform: \eac8;
$material--transit_enterexit: \eac9;
$material--translate: \eaca;
$material--trending_down: \eacb;
$material--trending_flat: \eacc;
$material--trending_up: \eacd;
$material--trip_origin: \eace;
$material--tune: \eacf;
$material--turned_in: \ead0;
$material--turned_in_not: \ead1;
$material--tv: \ead2;
$material--tv_off: \ead3;
$material--switch_video: \ead4;
$material--sync: \ead5;
$material--sync_disabled: \ead6;
$material--sync_problem: \ead7;
$material--system_update: \ead8;
$material--streetview: \ead9;
$material--strikethrough_s: \eada;
$material--style: \eadb;
$material--subdirectory_arrow_left: \eadc;
$material--subdirectory_arrow_right: \eadd;
$material--subject: \eade;
$material--subscriptions: \eadf;
$material--subtitles: \eae0;
$material--subway: \eae1;
$material--supervised_user_circle: \eae2;
$material--supervisor_account: \eae3;
$material--surround_sound: \eae4;
$material--swap_calls: \eae5;
$material--swap_horiz: \eae6;
$material--swap_horizontal_circle: \eae7;
$material--swap_vert: \eae8;
$material--swap_vertical_circle: \eae9;
$material--switch_camera: \eaea;
$material--speaker_notes_off: \eaeb;
$material--speaker_phone: \eaec;
$material--spellcheck: \eaed;
$material--star: \eaee;
$material--star_border: \eaef;
$material--star_half: \eaf0;
$material--star_rate: \eaf1;
$material--stars: \eaf2;
$material--stay_current_landscape: \eaf3;
$material--stay_current_portrait: \eaf4;
$material--stay_primary_landscape: \eaf5;
$material--stay_primary_portrait: \eaf6;
$material--stop: \eaf7;
$material--stop_screen_share: \eaf8;
$material--storage: \eaf9;
$material--store: \eafa;
$material--store_mall_directory: \eafb;
$material--straighten: \eafc;
$material--speaker: \eafd;
$material--speaker_group: \eafe;
$material--speaker_notes: \eaff;
$material--sim_card: \eb00;
$material--skip_next: \eb01;
$material--skip_previous: \eb02;
$material--slideshow: \eb03;
$material--slow_motion_video: \eb04;
$material--smartphone: \eb05;
$material--smoke_free: \eb06;
$material--smoking_rooms: \eb07;
$material--sms: \eb08;
$material--sms_failed: \eb09;
$material--snooze: \eb0a;
$material--sort: \eb0b;
$material--sort_by_alpha: \eb0c;
$material--spa: \eb0d;
$material--space_bar: \eb0e;
$material--signal_cellular_connected_no_internet_3_bar: \eb0f;
$material--signal_cellular_connected_no_internet_3_bar: \eb10;
$material--signal_cellular_connected_no_internet_4_bar: \eb11;
$material--signal_cellular_no_sim: \eb12;
$material--signal_cellular_null: \eb13;
$material--signal_cellular_off: \eb14;
$material--signal_wifi_0_bar: \eb15;
$material--signal_wifi_1_bar: \eb16;
$material--signal_wifi_1_bar: \eb17;
$material--signal_wifi_1_bar_lock: \eb18;
$material--signal_wifi_1_bar_lock: \eb19;
$material--signal_wifi_2_bar: \eb1a;
$material--signal_wifi_2_bar: \eb1b;
$material--signal_wifi_2_bar_lock: \eb1c;
$material--signal_wifi_2_bar_lock: \eb1d;
$material--signal_wifi_3_bar: \eb1e;
$material--signal_wifi_3_bar: \eb1f;
$material--signal_wifi_3_bar_lock: \eb20;
$material--signal_wifi_3_bar_lock: \eb21;
$material--signal_wifi_4_bar: \eb22;
$material--signal_wifi_4_bar_lock: \eb23;
$material--signal_wifi_off: \eb24;
$material--shopping_cart: \eb25;
$material--shop_two: \eb26;
$material--short_text: \eb27;
$material--show_chart: \eb28;
$material--shuffle: \eb29;
$material--shutter_speed: \eb2a;
$material--signal_cellular_0_bar: \eb2b;
$material--signal_cellular_1_bar: \eb2c;
$material--signal_cellular_1_bar: \eb2d;
$material--signal_cellular_2_bar: \eb2e;
$material--signal_cellular_2_bar: \eb2f;
$material--signal_cellular_3_bar: \eb30;
$material--signal_cellular_3_bar: \eb31;
$material--signal_cellular_4_bar: \eb32;
$material--signal_cellular_alt: \eb33;
$material--signal_cellular_connected_no_internet_0_bar: \eb34;
$material--signal_cellular_connected_no_internet_0_bar: \eb35;
$material--signal_cellular_connected_no_internet_1_bar: \eb36;
$material--signal_cellular_connected_no_internet_1_bar: \eb37;
$material--signal_cellular_connected_no_internet_2_bar: \eb38;
$material--signal_cellular_connected_no_internet_2_bar: \eb39;
$material--settings_ethernet: \eb3a;
$material--settings_input_antenna: \eb3b;
$material--settings_input_component: \eb3c;
$material--settings_input_composite: \eb3d;
$material--settings_input_hdmi: \eb3e;
$material--settings_input_svideo: \eb3f;
$material--settings_overscan: \eb40;
$material--settings_phone: \eb41;
$material--settings_power: \eb42;
$material--settings_remote: \eb43;
$material--settings_system_daydream: \eb44;
$material--settings_voice: \eb45;
$material--share: \eb46;
$material--shop: \eb47;
$material--shopping_basket: \eb48;
$material--search: \eb49;
$material--security: \eb4a;
$material--select_all: \eb4b;
$material--send: \eb4c;
$material--sentiment_dissatisfied: \eb4d;
$material--sentiment_satisfied: \eb4e;
$material--sentiment_satisfied_alt: \eb4f;
$material--sentiment_very_dissatisfied: \eb50;
$material--sentiment_very_satisfied: \eb51;
$material--settings: \eb52;
$material--settings_applications: \eb53;
$material--settings_backup_restore: \eb54;
$material--settings_bluetooth: \eb55;
$material--settings_brightness: \eb56;
$material--settings_cell: \eb57;
$material--satellite: \eb58;
$material--save: \eb59;
$material--save_alt: \eb5a;
$material--scanner: \eb5b;
$material--scatter_plot: \eb5c;
$material--schedule: \eb5d;
$material--school: \eb5e;
$material--score: \eb5f;
$material--screen_lock_landscape: \eb60;
$material--screen_lock_portrait: \eb61;
$material--screen_lock_rotation: \eb62;
$material--screen_rotation: \eb63;
$material--screen_share: \eb64;
$material--sd_card: \eb65;
$material--sd_storage: \eb66;
$material--radio: \eb67;
$material--radio_button_checked: \eb68;
$material--radio_button_unchecked: \eb69;
$material--rate_review: \eb6a;
$material--receipt: \eb6b;
$material--recent_actors: \eb6c;
$material--record_voice_over: \eb6d;
$material--redeem: \eb6e;
$material--redo: \eb6f;
$material--refresh: \eb70;
$material--remove: \eb71;
$material--remove_circle: \eb72;
$material--remove_circle_outline: \eb73;
$material--remove_from_queue: \eb74;
$material--remove_red_eye: \eb75;
$material--remove_shopping_cart: \eb76;
$material--reorder: \eb77;
$material--repeat: \eb78;
$material--repeat_one: \eb79;
$material--replay: \eb7a;
$material--replay_5: \eb7b;
$material--replay_10: \eb7c;
$material--replay_30: \eb7d;
$material--reply: \eb7e;
$material--reply_all: \eb7f;
$material--report: \eb80;
$material--report_off: \eb81;
$material--report_problem: \eb82;
$material--restaurant: \eb83;
$material--restaurant_menu: \eb84;
$material--restore: \eb85;
$material--restore_from_trash: \eb86;
$material--restore_page: \eb87;
$material--ring_volume: \eb88;
$material--room: \eb89;
$material--room_service: \eb8a;
$material--rotate_90_degrees_ccw: \eb8b;
$material--rotate_left: \eb8c;
$material--rotate_right: \eb8d;
$material--rounded_corner: \eb8e;
$material--router: \eb8f;
$material--rowing: \eb90;
$material--rss_feed: \eb91;
$material--rv_hookup: \eb92;
$material--query_builder: \eb93;
$material--question_answer: \eb94;
$material--queue: \eb95;
$material--queue_music: \eb96;
$material--queue_play_next: \eb97;
$material--pages: \eb98;
$material--pageview: \eb99;
$material--palette: \eb9a;
$material--panorama: \eb9b;
$material--panorama_fish_eye: \eb9c;
$material--panorama_horizontal: \eb9d;
$material--panorama_vertical: \eb9e;
$material--panorama_wide_angle: \eb9f;
$material--pan_tool: \eba0;
$material--party_mode: \eba1;
$material--pause: \eba2;
$material--pause_circle_filled: \eba3;
$material--pause_circle_outline: \eba4;
$material--pause_presentation: \eba5;
$material--payment: \eba6;
$material--people: \eba7;
$material--people_outline: \eba8;
$material--perm_camera_mic: \eba9;
$material--perm_contact_calendar: \ebaa;
$material--perm_data_setting: \ebab;
$material--perm_device_information: \ebac;
$material--perm_identity: \ebad;
$material--perm_media: \ebae;
$material--perm_phone_msg: \ebaf;
$material--perm_scan_wifi: \ebb0;
$material--person: \ebb1;
$material--person_add: \ebb2;
$material--person_add_disabled: \ebb3;
$material--personal_video: \ebb4;
$material--person_outline: \ebb5;
$material--person_pin: \ebb6;
$material--person_pin_circle: \ebb7;
$material--pets: \ebb8;
$material--phone: \ebb9;
$material--phone_android: \ebba;
$material--phone_bluetooth_speaker: \ebbb;
$material--phone_callback: \ebbc;
$material--phone_forwarded: \ebbd;
$material--phone_in_talk: \ebbe;
$material--phone_iphone: \ebbf;
$material--phonelink: \ebc0;
$material--phonelink_erase: \ebc1;
$material--phonelink_lock: \ebc2;
$material--phonelink_off: \ebc3;
$material--phonelink_ring: \ebc4;
$material--phonelink_setup: \ebc5;
$material--phone_locked: \ebc6;
$material--phone_missed: \ebc7;
$material--phone_paused: \ebc8;
$material--photo: \ebc9;
$material--photo_album: \ebca;
$material--photo_camera: \ebcb;
$material--photo_filter: \ebcc;
$material--photo_library: \ebcd;
$material--photo_size_select_actual: \ebce;
$material--photo_size_select_large: \ebcf;
$material--photo_size_select_small: \ebd0;
$material--picture_as_pdf: \ebd1;
$material--picture_in_picture: \ebd2;
$material--picture_in_picture_alt: \ebd3;
$material--pie_chart: \ebd4;
$material--pin_drop: \ebd5;
$material--place: \ebd6;
$material--play_arrow: \ebd7;
$material--play_circle_filled: \ebd8;
$material--play_circle_filled_white: \ebd9;
$material--play_circle_outline: \ebda;
$material--play_for_work: \ebdb;
$material--playlist_add: \ebdc;
$material--playlist_add_check: \ebdd;
$material--playlist_play: \ebde;
$material--plus_one: \ebdf;
$material--poll: \ebe0;
$material--polymer: \ebe1;
$material--pool: \ebe2;
$material--portable_wifi_off: \ebe3;
$material--portrait: \ebe4;
$material--power: \ebe5;
$material--power_input: \ebe6;
$material--power_off: \ebe7;
$material--power_settings_new: \ebe8;
$material--pregnant_woman: \ebe9;
$material--present_to_all: \ebea;
$material--print: \ebeb;
$material--print_disabled: \ebec;
$material--priority_high: \ebed;
$material--public: \ebee;
$material--publish: \ebef;
$material--offline_bolt: \ebf0;
$material--offline_pin: \ebf1;
$material--ondemand_video: \ebf2;
$material--opacity: \ebf3;
$material--open_in_browser: \ebf4;
$material--open_in_new: \ebf5;
$material--open_with: \ebf6;
$material--outlined_flag: \ebf7;
$material--nature: \ebf8;
$material--nature_people: \ebf9;
$material--navigate_before: \ebfa;
$material--navigate_next: \ebfb;
$material--navigation: \ebfc;
$material--near_me: \ebfd;
$material--network_cell: \ebfe;
$material--network_cell: \ebff;
$material--network_check: \ec00;
$material--network_locked: \ec01;
$material--network_wifi: \ec02;
$material--network_wifi: \ec03;
$material--new_releases: \ec04;
$material--next_week: \ec05;
$material--nfc: \ec06;
$material--no_encryption: \ec07;
$material--no_meeting_room: \ec08;
$material--no_sim: \ec09;
$material--note: \ec0a;
$material--note_add: \ec0b;
$material--notes: \ec0c;
$material--notification_important: \ec0d;
$material--notifications: \ec0e;
$material--notifications_active: \ec0f;
$material--notifications_none: \ec10;
$material--notifications_off: \ec11;
$material--notifications_paused: \ec12;
$material--not_interested: \ec13;
$material--not_listed_location: \ec14;
$material--mail: \ec15;
$material--mail_outline: \ec16;
$material--map: \ec17;
$material--markunread: \ec18;
$material--markunread_mailbox: \ec19;
$material--maximize: \ec1a;
$material--meeting_room: \ec1b;
$material--memory: \ec1c;
$material--menu: \ec1d;
$material--merge_type: \ec1e;
$material--message: \ec1f;
$material--mic: \ec20;
$material--mic_none: \ec21;
$material--mic_off: \ec22;
$material--minimize: \ec23;
$material--missed_video_call: \ec24;
$material--mms: \ec25;
$material--mobile_friendly: \ec26;
$material--mobile_off: \ec27;
$material--mobile_screen_share: \ec28;
$material--mode_comment: \ec29;
$material--monetization_on: \ec2a;
$material--money: \ec2b;
$material--money_off: \ec2c;
$material--monochrome_photos: \ec2d;
$material--mood: \ec2e;
$material--mood_bad: \ec2f;
$material--more: \ec30;
$material--more_horiz: \ec31;
$material--more_vert: \ec32;
$material--motorcycle: \ec33;
$material--mouse: \ec34;
$material--move_to_inbox: \ec35;
$material--movie: \ec36;
$material--movie_creation: \ec37;
$material--movie_filter: \ec38;
$material--multiline_chart: \ec39;
$material--music_note: \ec3a;
$material--music_off: \ec3b;
$material--music_video: \ec3c;
$material--my_location: \ec3d;
$material--label: \ec3e;
$material--label_important: \ec3f;
$material--label_off: \ec40;
$material--landscape: \ec41;
$material--language: \ec42;
$material--laptop: \ec43;
$material--laptop_chromebook: \ec44;
$material--laptop_mac: \ec45;
$material--laptop_windows: \ec46;
$material--last_page: \ec47;
$material--launch: \ec48;
$material--layers: \ec49;
$material--layers_clear: \ec4a;
$material--leak_add: \ec4b;
$material--leak_remove: \ec4c;
$material--lens: \ec4d;
$material--library_add: \ec4e;
$material--library_books: \ec4f;
$material--library_music: \ec50;
$material--linear_scale: \ec51;
$material--line_style: \ec52;
$material--line_weight: \ec53;
$material--link: \ec54;
$material--linked_camera: \ec55;
$material--link_off: \ec56;
$material--list: \ec57;
$material--list_alt: \ec58;
$material--live_help: \ec59;
$material--live_tv: \ec5a;
$material--local_activity: \ec5b;
$material--local_airport: \ec5c;
$material--local_atm: \ec5d;
$material--local_bar: \ec5e;
$material--local_cafe: \ec5f;
$material--local_car_wash: \ec60;
$material--local_convenience_store: \ec61;
$material--local_dining: \ec62;
$material--local_drink: \ec63;
$material--local_florist: \ec64;
$material--local_gas_station: \ec65;
$material--local_grocery_store: \ec66;
$material--local_hospital: \ec67;
$material--local_hotel: \ec68;
$material--local_laundry_service: \ec69;
$material--local_library: \ec6a;
$material--local_mall: \ec6b;
$material--local_movies: \ec6c;
$material--local_offer: \ec6d;
$material--local_parking: \ec6e;
$material--local_pharmacy: \ec6f;
$material--local_phone: \ec70;
$material--local_pizza: \ec71;
$material--local_play: \ec72;
$material--local_post_office: \ec73;
$material--local_printshop: \ec74;
$material--local_see: \ec75;
$material--local_shipping: \ec76;
$material--local_taxi: \ec77;
$material--location_city: \ec78;
$material--location_disabled: \ec79;
$material--location_off: \ec7a;
$material--location_on: \ec7b;
$material--location_searching: \ec7c;
$material--lock: \ec7d;
$material--lock_open: \ec7e;
$material--looks: \ec7f;
$material--looks_3: \ec80;
$material--looks_4: \ec81;
$material--looks_5: \ec82;
$material--looks_6: \ec83;
$material--looks_one: \ec84;
$material--looks_two: \ec85;
$material--loop: \ec86;
$material--loupe: \ec87;
$material--low_priority: \ec88;
$material--loyalty: \ec89;
$material--keyboard: \ec8a;
$material--keyboard_arrow_down: \ec8b;
$material--keyboard_arrow_left: \ec8c;
$material--keyboard_arrow_right: \ec8d;
$material--keyboard_arrow_up: \ec8e;
$material--keyboard_backspace: \ec8f;
$material--keyboard_capslock: \ec90;
$material--keyboard_hide: \ec91;
$material--keyboard_return: \ec92;
$material--keyboard_tab: \ec93;
$material--keyboard_voice: \ec94;
$material--kitchen: \ec95;
$material--image: \ec96;
$material--image_aspect_ratio: \ec97;
$material--image_search: \ec98;
$material--important_devices: \ec99;
$material--import_contacts: \ec9a;
$material--import_export: \ec9b;
$material--inbox: \ec9c;
$material--indeterminate_check_box: \ec9d;
$material--info: \ec9e;
$material--input: \ec9f;
$material--insert_chart: \eca0;
$material--insert_chart_outlined: \eca1;
$material--insert_comment: \eca2;
$material--insert_drive_file: \eca3;
$material--insert_emoticon: \eca4;
$material--insert_invitation: \eca5;
$material--insert_link: \eca6;
$material--insert_photo: \eca7;
$material--invert_colors: \eca8;
$material--invert_colors_off: \eca9;
$material--iso: \ecaa;
$material--hd: \ecab;
$material--hdr_off: \ecac;
$material--hdr_on: \ecad;
$material--hdr_strong: \ecae;
$material--hdr_weak: \ecaf;
$material--headset: \ecb0;
$material--headset_mic: \ecb1;
$material--healing: \ecb2;
$material--hearing: \ecb3;
$material--help: \ecb4;
$material--help_outline: \ecb5;
$material--highlight: \ecb6;
$material--highlight_off: \ecb7;
$material--high_quality: \ecb8;
$material--history: \ecb9;
$material--home: \ecba;
$material--horizontal_split: \ecbb;
$material--hotel: \ecbc;
$material--hot_tub: \ecbd;
$material--hourglass_empty: \ecbe;
$material--hourglass_full: \ecbf;
$material--how_to_reg: \ecc0;
$material--how_to_vote: \ecc1;
$material--http: \ecc2;
$material--https: \ecc3;
$material--gamepad: \ecc4;
$material--games: \ecc5;
$material--gavel: \ecc6;
$material--gesture: \ecc7;
$material--get_app: \ecc8;
$material--gif: \ecc9;
$material--golf_course: \ecca;
$material--gps_fixed: \eccb;
$material--gps_not_fixed: \eccc;
$material--gps_off: \eccd;
$material--grade: \ecce;
$material--gradient: \eccf;
$material--grain: \ecd0;
$material--graphic_eq: \ecd1;
$material--grid_off: \ecd2;
$material--grid_on: \ecd3;
$material--group: \ecd4;
$material--group_add: \ecd5;
$material--group_work: \ecd6;
$material--g_translate: \ecd7;
$material--face: \ecd8;
$material--fastfood: \ecd9;
$material--fast_forward: \ecda;
$material--fast_rewind: \ecdb;
$material--favorite: \ecdc;
$material--favorite_border: \ecdd;
$material--featured_play_list: \ecde;
$material--featured_video: \ecdf;
$material--feedback: \ece0;
$material--fiber_dvr: \ece1;
$material--fiber_manual_record: \ece2;
$material--fiber_new: \ece3;
$material--fiber_pin: \ece4;
$material--fiber_smart_record: \ece5;
$material--file_copy: \ece6;
$material--filter: \ece7;
$material--filter_1: \ece8;
$material--filter_2: \ece9;
$material--filter_3: \ecea;
$material--filter_4: \eceb;
$material--filter_5: \ecec;
$material--filter_6: \eced;
$material--filter_7: \ecee;
$material--filter_8: \ecef;
$material--filter_9: \ecf0;
$material--filter_9_plus: \ecf1;
$material--filter_b_and_w: \ecf2;
$material--filter_center_focus: \ecf3;
$material--filter_drama: \ecf4;
$material--filter_frames: \ecf5;
$material--filter_hdr: \ecf6;
$material--filter_list: \ecf7;
$material--filter_none: \ecf8;
$material--filter_tilt_shift: \ecf9;
$material--filter_vintage: \ecfa;
$material--find_in_page: \ecfb;
$material--find_replace: \ecfc;
$material--fingerprint: \ecfd;
$material--first_page: \ecfe;
$material--fitness_center: \ecff;
$material--flag: \ed00;
$material--flare: \ed01;
$material--flash_auto: \ed02;
$material--flash_off: \ed03;
$material--flash_on: \ed04;
$material--flight: \ed05;
$material--flight_land: \ed06;
$material--flight_takeoff: \ed07;
$material--flip: \ed08;
$material--flip_to_back: \ed09;
$material--flip_to_front: \ed0a;
$material--folder: \ed0b;
$material--folder_open: \ed0c;
$material--folder_shared: \ed0d;
$material--folder_special: \ed0e;
$material--font_download: \ed0f;
$material--format_align_center: \ed10;
$material--format_align_justify: \ed11;
$material--format_align_left: \ed12;
$material--format_align_right: \ed13;
$material--format_bold: \ed14;
$material--format_clear: \ed15;
$material--format_color_fill: \ed16;
$material--format_color_fill: \ed17;
$material--format_color_reset: \ed18;
$material--format_color_text: \ed19;
$material--format_color_text: \ed1a;
$material--format_indent_decrease: \ed1b;
$material--format_indent_increase: \ed1c;
$material--format_italic: \ed1d;
$material--format_line_spacing: \ed1e;
$material--format_list_bulleted: \ed1f;
$material--format_list_numbered: \ed20;
$material--format_list_numbered_rtl: \ed21;
$material--format_paint: \ed22;
$material--format_quote: \ed23;
$material--format_shapes: \ed24;
$material--format_size: \ed25;
$material--format_strikethrough: \ed26;
$material--format_textdirection_l_to_r: \ed27;
$material--format_textdirection_r_to_l: \ed28;
$material--format_underlined: \ed29;
$material--forum: \ed2a;
$material--forward: \ed2b;
$material--forward_5: \ed2c;
$material--forward_10: \ed2d;
$material--forward_30: \ed2e;
$material--free_breakfast: \ed2f;
$material--fullscreen: \ed30;
$material--fullscreen_exit: \ed31;
$material--functions: \ed32;
$material--edit: \e900;
$material--edit_attributes: \e901;
$material--edit_location: \e902;
$material--eject: \e903;
$material--email: \e904;
$material--enhanced_encryption: \e905;
$material--equalizer: \e906;
$material--error: \e907;
$material--error_outline: \e908;
$material--euro_symbol: \e909;
$material--event: \e90a;
$material--event_available: \e90b;
$material--event_busy: \e90c;
$material--event_note: \e90d;
$material--event_seat: \e90e;
$material--ev_station: \e90f;
$material--exit_to_app: \e910;
$material--expand_less: \e911;
$material--expand_more: \e912;
$material--explicit: \e913;
$material--explore: \e914;
$material--explore_off: \e915;
$material--exposure: \e916;
$material--exposure_neg_1: \e917;
$material--exposure_neg_2: \e918;
$material--exposure_plus_1: \e919;
$material--exposure_plus_2: \e91a;
$material--exposure_zero: \e91b;
$material--extension: \e91c;
$material--dashboard: \e91d;
$material--data_usage: \e91e;
$material--date_range: \e91f;
$material--dehaze: \e920;
$material--delete: \e921;
$material--delete_forever: \e922;
$material--delete_outline: \e923;
$material--delete_sweep: \e924;
$material--departure_board: \e925;
$material--description: \e926;
$material--desktop_access_disabled: \e927;
$material--desktop_mac: \e928;
$material--desktop_windows: \e929;
$material--details: \e92a;
$material--developer_board: \e92b;
$material--developer_mode: \e92c;
$material--device_hub: \e92d;
$material--devices: \e92e;
$material--devices_other: \e92f;
$material--device_unknown: \e930;
$material--dialer_sip: \e931;
$material--dialpad: \e932;
$material--directions: \e933;
$material--directions_bike: \e934;
$material--directions_boat: \e935;
$material--directions_bus: \e936;
$material--directions_car: \e937;
$material--directions_railway: \e938;
$material--directions_run: \e939;
$material--directions_subway: \e93a;
$material--directions_transit: \e93b;
$material--directions_walk: \e93c;
$material--disc_full: \e93d;
$material--dns: \e93e;
$material--dock: \e93f;
$material--domain: \e940;
$material--domain_disabled: \e941;
$material--done: \e942;
$material--done_all: \e943;
$material--done_outline: \e944;
$material--donut_large: \e945;
$material--donut_small: \e946;
$material--drafts: \e947;
$material--drag_handle: \e948;
$material--drag_indicator: \e949;
$material--drive_eta: \e94a;
$material--duo: \e94b;
$material--dvr: \e94c;
$material--cached: \e94d;
$material--cake: \e94e;
$material--calendar_today: \e94f;
$material--calendar_view_day: \e950;
$material--call: \e951;
$material--call_end: \e952;
$material--call_made: \e953;
$material--call_merge: \e954;
$material--call_missed: \e955;
$material--call_missed_outgoing: \e956;
$material--call_received: \e957;
$material--call_split: \e958;
$material--call_to_action: \e959;
$material--camera: \e95a;
$material--camera_alt: \e95b;
$material--camera_enhance: \e95c;
$material--camera_front: \e95d;
$material--camera_rear: \e95e;
$material--camera_roll: \e95f;
$material--cancel: \e960;
$material--cancel_presentation: \e961;
$material--card_giftcard: \e962;
$material--card_membership: \e963;
$material--card_travel: \e964;
$material--casino: \e965;
$material--cast: \e966;
$material--cast_connected: \e967;
$material--cast_for_education: \e968;
$material--category: \e969;
$material--cell_wifi: \e96a;
$material--cell_wifi: \e96b;
$material--center_focus_strong: \e96c;
$material--center_focus_weak: \e96d;
$material--change_history: \e96e;
$material--chat: \e96f;
$material--chat_bubble: \e970;
$material--chat_bubble_outline: \e971;
$material--check: \e972;
$material--check_box: \e973;
$material--check_box_outline_blank: \e974;
$material--check_circle: \e975;
$material--check_circle_outline: \e976;
$material--chevron_left: \e977;
$material--chevron_right: \e978;
$material--child_care: \e979;
$material--child_friendly: \e97a;
$material--chrome_reader_mode: \e97b;
$material--class: \e97c;
$material--clear: \e97d;
$material--clear_all: \e97e;
$material--close: \e97f;
$material--closed_caption: \e980;
$material--cloud: \e981;
$material--cloud_circle: \e982;
$material--cloud_done: \e983;
$material--cloud_download: \e984;
$material--cloud_off: \e985;
$material--cloud_queue: \e986;
$material--cloud_upload: \e987;
$material--code: \e988;
$material--collections: \e989;
$material--collections_bookmark: \e98a;
$material--colorize: \e98b;
$material--color_lens: \e98c;
$material--comment: \e98d;
$material--commute: \e98e;
$material--compare: \e98f;
$material--compare_arrows: \e990;
$material--compass_calibration: \e991;
$material--computer: \e992;
$material--confirmation_number: \e993;
$material--contact_mail: \e994;
$material--contact_phone: \e995;
$material--contacts: \e996;
$material--contact_support: \e997;
$material--control_camera: \e998;
$material--control_point: \e999;
$material--control_point_duplicate: \e99a;
$material--copyright: \e99b;
$material--create: \e99c;
$material--create_new_folder: \e99d;
$material--credit_card: \e99e;
$material--crop: \e99f;
$material--crop_3_2: \e9a0;
$material--crop_5_4: \e9a1;
$material--crop_7_5: \e9a2;
$material--crop_16_9: \e9a3;
$material--crop_din: \e9a4;
$material--crop_free: \e9a5;
$material--crop_landscape: \e9a6;
$material--crop_original: \e9a7;
$material--crop_portrait: \e9a8;
$material--crop_rotate: \e9a9;
$material--crop_square: \e9aa;
$material--backspace: \e9ab;
$material--backup: \e9ac;
$material--ballot: \e9ad;
$material--bar_chart: \e9ae;
$material--battery_20: \e9af;
$material--battery_20: \e9b0;
$material--battery_30: \e9b1;
$material--battery_30: \e9b2;
$material--battery_50: \e9b3;
$material--battery_50: \e9b4;
$material--battery_60: \e9b5;
$material--battery_60: \e9b6;
$material--battery_80: \e9b7;
$material--battery_80: \e9b8;
$material--battery_90: \e9b9;
$material--battery_90: \e9ba;
$material--battery_alert: \e9bb;
$material--battery_charging_20: \e9bc;
$material--battery_charging_20: \e9bd;
$material--battery_charging_30: \e9be;
$material--battery_charging_30: \e9bf;
$material--battery_charging_50: \e9c0;
$material--battery_charging_50: \e9c1;
$material--battery_charging_60: \e9c2;
$material--battery_charging_60: \e9c3;
$material--battery_charging_80: \e9c4;
$material--battery_charging_80: \e9c5;
$material--battery_charging_90: \e9c6;
$material--battery_charging_90: \e9c7;
$material--battery_charging_full: \e9c8;
$material--battery_full: \e9c9;
$material--battery_std: \e9ca;
$material--battery_unknown: \e9cb;
$material--beach_access: \e9cc;
$material--beenhere: \e9cd;
$material--block: \e9ce;
$material--bluetooth: \e9cf;
$material--bluetooth_audio: \e9d0;
$material--bluetooth_connected: \e9d1;
$material--bluetooth_disabled: \e9d2;
$material--bluetooth_searching: \e9d3;
$material--blur_circular: \e9d4;
$material--blur_linear: \e9d5;
$material--blur_off: \e9d6;
$material--blur_on: \e9d7;
$material--book: \e9d8;
$material--bookmark: \e9d9;
$material--bookmark_border: \e9da;
$material--bookmarks: \e9db;
$material--border_all: \e9dc;
$material--border_bottom: \e9dd;
$material--border_clear: \e9de;
$material--border_color: \e9df;
$material--border_color: \e9e0;
$material--border_horizontal: \e9e1;
$material--border_inner: \e9e2;
$material--border_left: \e9e3;
$material--border_outer: \e9e4;
$material--border_right: \e9e5;
$material--border_style: \e9e6;
$material--border_top: \e9e7;
$material--border_vertical: \e9e8;
$material--branding_watermark: \e9e9;
$material--brightness_1: \e9ea;
$material--brightness_2: \e9eb;
$material--brightness_3: \e9ec;
$material--brightness_4: \e9ed;
$material--brightness_5: \e9ee;
$material--brightness_6: \e9ef;
$material--brightness_7: \e9f0;
$material--brightness_auto: \e9f1;
$material--brightness_high: \e9f2;
$material--brightness_low: \e9f3;
$material--brightness_medium: \e9f4;
$material--broken_image: \e9f5;
$material--brush: \e9f6;
$material--bubble_chart: \e9f7;
$material--bug_report: \e9f8;
$material--build: \e9f9;
$material--burst_mode: \e9fa;
$material--business: \e9fb;
$material--business_center: \e9fc;
$material--access_alarm: \ea00;
$material--access_alarms: \ea01;
$material--accessibility: \ea02;
$material--accessibility_new: \ea03;
$material--accessible: \ea04;
$material--accessible_forward: \ea05;
$material--access_time: \ea06;
$material--account_balance: \ea07;
$material--account_balance_wallet: \ea08;
$material--account_box: \ea09;
$material--account_circle: \ea0a;
$material--ac_unit: \ea0b;
$material--adb: \ea0c;
$material--add: \ea0d;
$material--add_alarm: \ea0e;
$material--add_alert: \ea0f;
$material--add_a_photo: \ea10;
$material--add_box: \ea11;
$material--add_circle: \ea12;
$material--add_circle_outline: \ea13;
$material--add_comment: \ea14;
$material--add_location: \ea15;
$material--add_photo_alternate: \ea16;
$material--add_shopping_cart: \ea17;
$material--add_to_home_screen: \ea18;
$material--add_to_photos: \ea19;
$material--add_to_queue: \ea1a;
$material--adjust: \ea1b;
$material--airline_seat_flat: \ea1c;
$material--airline_seat_flat_angled: \ea1d;
$material--airline_seat_individual_suite: \ea1e;
$material--airline_seat_legroom_extra: \ea1f;
$material--airline_seat_legroom_normal: \ea20;
$material--airline_seat_legroom_reduced: \ea21;
$material--airline_seat_recline_extra: \ea22;
$material--airline_seat_recline_normal: \ea23;
$material--airplanemode_active: \ea24;
$material--airplanemode_inactive: \ea25;
$material--airplay: \ea26;
$material--airport_shuttle: \ea27;
$material--alarm: \ea28;
$material--alarm_add: \ea29;
$material--alarm_off: \ea2a;
$material--alarm_on: \ea2b;
$material--album: \ea2c;
$material--all_inbox: \ea2d;
$material--all_inclusive: \ea2e;
$material--all_out: \ea2f;
$material--alternate_email: \ea30;
$material--android: \ea31;
$material--announcement: \ea32;
$material--apps: \ea33;
$material--archive: \ea34;
$material--arrow_back: \ea35;
$material--arrow_back_ios: \ea36;
$material--arrow_downward: \ea37;
$material--arrow_drop_down: \ea38;
$material--arrow_drop_down_circle: \ea39;
$material--arrow_drop_up: \ea3a;
$material--arrow_forward: \ea3b;
$material--arrow_forward_ios: \ea3c;
$material--arrow_left: \ea3d;
$material--arrow_right: \ea3e;
$material--arrow_right_alt: \ea3f;
$material--arrow_upward: \ea40;
$material--art_track: \ea41;
$material--aspect_ratio: \ea42;
$material--assessment: \ea43;
$material--assignment: \ea44;
$material--assignment_ind: \ea45;
$material--assignment_late: \ea46;
$material--assignment_return: \ea47;
$material--assignment_returned: \ea48;
$material--assignment_turned_in: \ea49;
$material--assistant: \ea4a;
$material--assistant_photo: \ea4b;
$material--atm: \ea4c;
$material--attach_file: \ea4d;
$material--attachment: \ea4e;
$material--attach_money: \ea4f;
$material--audiotrack: \ea50;
$material--autorenew: \ea51;
$material--av_timer: \ea52;
