// List Elements
.ul-primary,
.ol-primary {
  line-height: 250%;
  margin: 0 0 rem(24) rem(40);
  padding: 0;

  li {
    margin-bottom: rem(16);
  }

  ul,
  ol {
    margin-top: rem(24);
  }
}

.ul-primary {
  li {
    list-style-type: none;
    &:before {
      content: '•';
      font-size: 10px;
      margin-left: -16px;
      padding-right: 16px;
    }
  }
}

.ol-primary {
  li {
    padding-left: rem(5);
  }
}
