/* 1 Column - Slider Section Layout */

.slider-section--one-column {
  @include layout-container();
  @include layout-container-padding();

  .block--block-content--card--background-image-left-card-background-image-right-card,
  .block--block-content--card--centered-icon-and-text,
  .block--block-content--card--clickable-card,
  .block--block-content--card--default,
  .block--block-content--card--full,
  .block--block-content--card--icon-top-text-bottom,
  .block--block-content--card--only-text,
  .block--block-content--card--image-left-text-right,
  .block--block-content--card--image-top-text-bottom,
  .block--block-content--card--text-left-background-image-right,
  .block--block-content--card--text-left-image-right,
  .block--block-content--card--icon-top-text-bottom-card,
  .block-inline-block--basic {
    padding: 2.5rem;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: unset;
  }
}
