/* 2 Columns - Custom Layout */

.two-columns-custom {
  .content1, .content2 {
    display: flex;
    margin-bottom: 1rem;
    flex-direction: column;
    min-width: 100%;

    @include breakpoint(min-width $m-break) {
      flex-basis: 50%;
      margin-bottom: 0;
      min-width: unset;
    }
  }
}
