/* 3 Column - Default Layout */

.three-columns {
  @include layout-container();
  @include layout-container-padding();

  .content1, .content2, .content3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    flex: 1 1 auto;
    flex-basis: 100%;

    /* Space blocks if being stacked in column. */
    > div + div {
      margin-top: 2rem;
    }

    @include breakpoint(min-width $m-break) {
      flex-basis: 33%;
      margin-bottom: 0;
    }
  }
}
